<%= form_for @trail do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty %>
  </p>
  <p>
    <%= f.submit 'Add Trail' %>
  </p>
<% end %>

<% @trails.each do |trail| %>
<ul>
  <li>
    <%= link_to "#{trail.name}", trail_path(trail) %>, <%= trail.difficulty %>
  </li>
</ul>
<% end %>